@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font: normal 25px arial, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.263);
}

div{
    text-align: center;
    padding: 8px;
}


footer{
    text-align: center;
    margin-top: 10px;
}


a {
    color: white;
    font-style: italic;
    text-decoration: none;

}

a:hover{
    color: black;
    text-decoration: underline;
}